
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---Header---*/


.navegacion {
    height: 130px;
    background-color: rgb(48, 48, 48);
}

.icono-sitio {
    margin-left: 2px;
    margin-right: 2px;
    height: 40px;
    width: 40px;
}
.navegacion h1 {
    color: white;
    font-family: 'Eczar', serif;
    font-weight: 400;
    font-size: 30px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}

.lista-navegacion {
    font-family: 'Eczar', serif;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    justify-content: right;;
}
.lista-navegacion li {
    margin: 10px;
    transition-duration: .7s;
}
.lista-navegacion li a {
    color: white;
}


header nav ul li a {
    text-decoration: none;
    transition-duration: .7s;
}
header nav ul {
    list-style: none;
}


/*!MENU HAMBURGUESA*/

.menu-hamburguesa-nav {
    display: none;
}
.menu-hamburguesa {
    font-family: 'Eczar', serif;
    font-weight: 500;
    font-size: 20px;
}
.menu-hamburguesa li {
    margin: 10px;
    transition-duration: .7s;
}
.menu-hamburguesa li a {
    color: white;
}

@media screen and (max-width:600px){
    .lista-navegacion {
        display: none;
    }
    .menu-hamburguesa-nav {
        display: flex;
    }
    .navegacion {
        height: 310px;
    }
}

/*!ANIMACIONES*/

header nav ul li:hover {
    transform: scale(1.2);
}
header nav ul li a:hover {
    color: darkkhaki;
}

/*---Main---*/
body {
    background-color: rgb(7, 48, 66);
}

.carrusel {
    width: 60%;
    margin: 6% auto;
}
.carrusel div div div div h5 {
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

.ofertas-semana-index {
    display: flex;
    color: white;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    font-size: 60px;
    margin-bottom: 30px;
    text-align: center;
}

.productos-cartas {
    width: 100%;
    display: flex;
    justify-content:space-around;
    margin-bottom: 30px;
    

}
.titulo-pslide{
    border: 2px;
}

@media screen and (max-width:750px){
    .productos-cartas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        
    }
}
@media screen and (max-width:620px){
    .productos-cartas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .productos-cartas div {
        resize: both;
    }
}
/*---Footer---*/

footer {
    position: relative;
    height: auto;
    width: 100%;
}

footer div {
    background-color: rgb(48, 48, 48);
}

footer div h2 {
    color: white;
    font-family: 'Eczar', serif;
    font-weight: 400;
    font-size: 30px;
    padding: 5px;
}

footer div img {
    height: 50px ;
    width: 50px;
    margin: 10px;

}
.copy h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    font-weight: 200;
    padding: 6px;
    text-decoration: none;
    color: white;
}

/*!NOSOTROS*/
/*NOSOTROS-1ERA PARTE*/



.nosotros-uno {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 3%;
    
}


.nosotros-uno div p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: white;
    text-align: center;
    padding-top: 10%;
    font-weight: 200;
    

}
.nosotros-uno div img {
    border-radius: 10%;
}
@media screen and (max-width:1200px){

    .nosotros-uno {
        display: block ;
        margin: 0 auto;
        width: 60%;
    }

    .nosotros-uno div p {
        font-size: 30px;
    }

    }


@media screen and (max-width:750px){
    .nosotros-uno div img {
        width: 100%;
        display: block ;
        margin: 0 auto;
    }
    .nosotros-uno div p {
        font-size: 30px;
    }
}

@media screen and (max-width:350px){
    .nosotros-uno div p {
        font-size: 20px;

    }
}
/*NOSOTROS-GRIDS*/

.nosotros-grid-conteiner{
    width: 80%;
    margin: 15px auto;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 250px;

}
.nosotros-grid-conteiner div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 9px 20px 0px rgba(107,50,19,0.68);
    -webkit-box-shadow: 10px 9px 20px 0px rgba(107,50,19,0.68);
    -moz-box-shadow: 10px 9px 20px 0px rgba(107,50,19,0.68);
    border-radius: 2%;
}

.primer-item {
    grid-column: 1 / 3;
}
.segundo-item {
    grid-column: 3 / 6;
}
.tercer-item {
    grid-column: 1 / 6;
}
.cuarto-item {
    grid-column: 1 / 3;
}
.quinto-item {
    grid-column: 3 / 6;
}

@media screen and (max-width:350){
    .nosotros-grid-conteiner {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
}

/*!NOTICIAS*/
.body-noticias {
    background-color: white;
}
.main-noticias {
    margin: 5% 7% 5% 7%;
}
.noticias-recientes {
    color: black;
    font-family: 'Eczar', serif;
    font-weight: 400;
    font-size: 70px;
    display: flex;
    justify-content: left;
    border-bottom: 1px solid black;
}

.noticias-caja {
    margin: 2%;
}
.noticias-caja div {
    padding-bottom: 3%;
    border-bottom: 1px solid black;
}
.noticias-caja div h2 {
    color: black;
    font-family: 'Eczar', serif;
    font-weight: 400;
    font-size: 40px;
    padding: 10px;
    display: flex;
    justify-content: left;
    line-height: 1;
}

.noticias-caja div img {
    border-radius: 1%;
}

.noticias-caja div p {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    justify-content: left;
    padding-top: 1%;
    line-height: 2;
}

.noticias-caja div p::first-letter {
    font-size: 3em;
}

.noticias-caja div a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    justify-content: left;
}

@media screen and (max-width:750px) {
    .noticias-caja div img {
        width: 90%;
    }
    .noticias-caja div h2{
        font-size: 2em;
    }
}
/*!NOTICIAS*/
/*!NOTICIAS*/
/*!NOTICIAS*/
/*NOSOTROS-GRIDS*/
/*NOSOTROS-GRIDS*/
/*NOSOTROS-GRIDS*/